{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}
   
      {{form_start(form)}}

        {{ form_row(form.title)}}
        {{ form_row(form.poster)}}
        {{ form_row(form.producers)}}
        {{ form_row(form.actors)}}
        {{ form_row(form.duration)}}
        {{ form_row(form.date_release)}}
        {{ form_row(form.type)}}

    <button class="btn">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
